<div class="christmas-card-container">
  <div class="transparent-background">
    <div class="card-text">
      <p>Dear Mom and Dad,</p>

      <p>This year has been a lot, to say the least.</p>

      <p>The elephant in the room is that I had a stroke, so I think it'd be worth it to address that now.  While those few months tested me, I'm glad that I had my home to come to and a bed to rest on.  Thank you both for being supportive of me during that time -- infinitely appreciative.</p>

      <p>And I'm more appreciative of life, in general, now.  I take in every body of water I see like it's the first time I've witnessed it, with wide eyes, and I listen to music that sounds grander than it ever did.  I'm more willing to disregard people that are only there to bring me down and stick close to those that are helpful on my journey forward. And I'm more committed to being successful than I ever have been -- I want to work for tech companies, polish my software engineering chops, and then start an institution that helps the world.</p>

      <p>And I wouldn't be here if it wasn't for you. So, thank you.</p>

      <p>A quick recap of this year:</p>

      <p>I had my first full time job this year at FindTheBest.  Being a product associate was an incredible journey but not quite as technical as I would have liked -- while we worked with SQL and our own native platform I was still hungry for more.</p>

      <p>And Dev Bootcamp. Dev Bootcamp has been the pinnacle of my existence -- without it, I don't think I would have gained technical skills in nearly the amount of time that I did.  I loved New York, I loved the city life, I loved the bars around New York, I loved the people, I loved coding.</p>

      <p>And I will continue to love it.  Where 2015 takes me, who knows! Perhaps San Francisco. Perhaps New York. Not exactly certain as I navigate this job hunt.</p>

      <p>But wherever it takes me, I will always have you there beside me and I'm appreciative.</p>

      <p>Love,</p>
      <p>Alex</p>
    </div>
  </div>
</div>
