<audio autoplay>
  <source src="the-christmas-song.mp3" type="audio/mpeg">
</audio>

<div class="christmas-card-container">
  <div class="transparent-background">
    <div class="card-text">
      <p>Dear Owm,</p>
      <p>Thank you for having us at your house!</p>
      <p>I appreciate every single time we've come to your house and how overwhelmingly welcoming you've been.  I realize that my mom loves you both very much and enjoys the holidays that we're together -- as do I.  I love you both and look forward to many more holidays in the future together.</p>

      <p>Sincerely,</p>
      <p>Alex</p>
    </div>
  </div>
</div>

