<p>Enter the top secret password:</p>


<%= form_for :christmas_card, url: christmas_card_2014_password_entered_path do |f| %>
<%= f.label :password %>
<%= f.password_field :password %><br><br>

<%= f.submit "Is your password correct?" %>
<% end %>
