<audio autoplay>
  <source src="the-christmas-song.mp3" type="audio/mpeg">
</audio>

<div class="christmas-card-container">
  <div class="transparent-background">
    <div class="card-text">
      <p>Dear Pou Vuth,</p>
      <p>I've never known how to spell 'Pou' my whole life.  You'll notice that in the url bar, I've spelled it as 'Poo.' C'est la vie.</p>

      <p>First off, thank you for being a fantastic uncle.  From surfing, to snowboarding, to korean bbq, to Hawaii -- we've done it all.  Thanks for be understanding throughout my life and for being a figure that I can lean on, both when things are rough and when things are going well.  I know that the past few years have been turbulent for you and I want to let you know that I'm here when you need someone to speak to.</p>

      <p>Here's to many more waves we're going to catch!</p>


      <p>Sincerely,</p>
      <p>Alex</p>
    </div>
  </div>
</div>

