<audio autoplay>
  <source src="the-christmas-song.mp3" type="audio/mpeg">
</audio>

<div class="christmas-card-container">
  <div class="transparent-background">
    <div class="card-text">
      <p>Dear Pha and Vuthea,</p>
      <p>Thank you both for consistently being there for me as I was growing up.  I'll recount a few memories I have:</p>

      <p>Being in the park with Chee and Bong Vuthea as I was growing up, near their house in Stockton.  I used to love summers growing up because I would be going to your house as a kid, a place I associate with a lot of warm memories.</p>

      <p>That time when I was upset that Bong Loing didn't end up coming to see us back when I was 14 or so, and Bong Pha taking me into the room and empathizing with me being hurt.  He attempted to comfort me by playing video games with me, and it's a memory that I still cherish until today.</p>

      <p>And every Thanksgiving, Christmas that we've spent together since I was little.  I respect both of you so incredibly much!  Thanks for always being so sincerely warm and welcome every time we come up.</p>

      <p>Sincerely,</p>
      <p>Alex</p>
    </div>
  </div>
</div>

