<audio autoplay>
  <source src="the-christmas-song.mp3" type="audio/mpeg">
</audio>

<div class="christmas-card-container">
  <div class="transparent-background">
    <div class="card-text">
      <p>Dear Yay,</p>

      <p>Thank you for always being a fantastic grandmother.</p>

      <p>I'm eager to hear about how the senior center is going.  Wherever I am in the world, remember that I love you very much.</p>

      <p>Love,</p>
      <p>Alex</p>
    </div>
  </div>
</div>
