<h1>Alex Ung</h1>

<p>A young entrepreneur with a vicious appetite for all things technical. I'm a gigantic fan of jamming on the guitar, hiking, and tea. Also, I would consider myself an avid brown rice fanatic (no, fanatic is not too strong of a word).<br><br>

I've started a company in Cambodia in the food industry, worked as a product manager at a tech company, and now I'm meandering over to becoming proficient at coding. I am driven, I am motivated-- above all, I am Alex.</p>
