html, body {
  height: 100%;
  min-height: 100%;
}

.christmas-card-container {
  background: #d3d3d3 url(christmas-card-bg.jpg) top left;
}

.transparent-background {
  background-color: rgba(0,255,0,0.5);
}

.card-text {
  color:white;
}

.project-image {
  height: 2%;
  width: 2%;
  background-color: blue;
}

.vertical-line {
  border-right: thick solid black;
  margin: 0 auto;
  height: 100%;
}

.circle {
width:50%;
height:15%;
border-radius:5%;
color:#fff;
line-height:500px;
background:#000
}
